@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: theme('fontFamily.sans');
  background: radial-gradient(circle at top, #020617 0, #020617 40%, #020617 100%);
  color: #e5e7eb;
}

